@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background{
  background-image: url('../../public/silhouetted-couple-sit-bench-autumn-tree-generative-ai.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg{
  background: hsla(0, 0%, 0%, 0.363);
}

